<h2><%= link_to post.title , post %></h2>
<p><%= truncate(post.body.to_plain_text) %></p>
<p><%= post.created_at.strftime("%m/%d, %Y") %></p>
<% if session[:user_id] %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
