<div class="post">
  <%= button_to '⬅️ back', posts_path, method: :get, class: "button back" %>

  <p class="title">
    <%= @post.title %>
  </p>

  <p class="body">
    <%= @post.body %>
  </p>

  <% if session[:user_id] %>
    <%= link_to 'Edit', edit_post_path(@post) %>
  <% end %>
  <%= button_to '⬅️ back', posts_url, method: :get, class: "button back" %>

  <%= javascript_pack_tag("hello_react") %>​

</div>

