<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'comment' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <div class="navigator">
      <%= link_to "ðŸ home", root_url, 
        class: ('current' if current_page?('/')) %>

      <%= link_to "ðŸ’¡blog", posts_url, 
        class: ('current' if current_page?('/posts')) %>
    </div>
      <%= yield %>
    </div>
  </body>
</html>
